.framelix-tabs {
  .framelix-tab-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    background: var(--color-page-bg-stencil);
    column-gap: 10px;
    align-items: center;

    ::before {
      height: 10px;
      line-height: 10px;
      content: "arrow_right";
      font-family: "Material Icons", sans-serif;
      font-size: 24px;
      opacity: 0.5;
      transition: transform .3s;
    }
  }

  .framelix-tab-button {
    margin: 0;
    font-weight: bold;
    box-sizing: border-box;
    background: transparent;
    border: none;
    color: var(--color-page-text);
    padding: 5px 10px;
    padding-left: 5px;

    &[data-active='1'] {
      color: var(--color-primary-text);

      &::before {
        transform: rotate(90deg);
      }
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 1000px inset;
    }
  }

  .framelix-tab-content {
    display: none;

    &[data-active='1'] {
      display: block;
    }
  }
}

html[data-screen-size='s'] {
  .framelix-tab-button {
    width: calc(50% - 10px);
  }
}