.framelix-tabs {
  .framelix-tab-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .framelix-tab-button {
    margin: 0;
    font-weight: bold;
    box-sizing: border-box;
    background: transparent;
    border: none;
    color: var(--color-page-text);
    padding: 10px 25px;

    &[data-active='1'] {
      background: var(--color-button-primary-bg);
      color: var(--color-button-primary-text);
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 1000px inset;
    }

    html[data-screen-size='s'] & {
      width: 50%;
    }
  }

  .framelix-tab-content {
    display: none;

    &[data-active='1'] {
      display: block;
    }
  }
}