.framelix-alert {
  border-radius: var(--border-radius);
  margin-bottom: 5px;
  background: var(--color-alert-default-bg);
  color: var(--color-alert-default-text);
  --icon-color-hue: var(--color-primary-hue);
  font-size: 0.95rem;
  padding: 10px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.05);

  @include insertColorSelectors("framelix-alert", "alert");

  &.framelix-alert-success {
    --icon-color-hue: var(--color-success-hue);
  }

  &.framelix-alert-warning {
    --icon-color-hue: var(--color-warning-hue);
  }

  &.framelix-alert-error {
    --icon-color-hue: var(--color-error-hue);
  }

  &[data-icon] {
    padding-left: 40px;
  }

  &[data-icon]::before {
    content: attr(data-icon string);
    position: absolute;
    color: hsl(var(--icon-color-hue), 50%, 50%);
    font-family: "Material Icons", sans-serif;
    font-size: 24px;
    flex: 0 0 auto;
    opacity: 0.4;
    margin-top: -7px;
    margin-left: -30px;
  }

  &[data-icon=''] {
    &::before {
      display: none;
    }

    min-height: auto;
  }
}